.imdb-logo {
    -fx-font: 2em/1 Impact, HelveticaNeue-CondensedBold, sans-serif;
    -fx-text-fill: #000;
    -fx-background-radius: 5 5 5 5;
    -fx-background-color:  radial-gradient(center 50% 50%, radius 120%, rgba(255, 255, 184, 1) 3%,rgba(206, 152, 29, 1) 50%);
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,1), 10, 0, 0, 0);
    -fx-border-style: solid;
    -fx-border-color: #000;
    -fx-border-radius: 5 5 5 5;
    //-fx-background-color: linear-gradient(#ffffb8, #ce981d);
}

.imdb-logo:hover {
    -fx-background-color: radial-gradient(center 50% 50%, radius 250%, rgba(255, 255, 184, 1) 5%,rgba(206, 152, 29, 1) 35%);;
}

.border {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 15, 0, 0, 0);
}

#button {
    -fx-cursor: hand;
}

.separator .line {
    -fx-background-color: #336699;
}

.list-view .scroll-bar:horizontal {
    -fx-opacity: 0;
    -fx-padding: -10;
}

.list-cell {
    -fx-background-color: rgb(228, 222, 255);
    -fx-cell-hover-color: transparent;
}